.b_first {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 750px;
    /* border: 1px solid black; */
    margin-left: 40px;

    .guidetop_b_first {
        display: flex;
        flex-direction: row;
        height: 25px;
        width: 150px;
        /* border: 1px solid pink; */
        margin-top: 10px;
        color: black;
        gap: 10px;
        align-items: center;
        justify-content: start;

        .icon_b_first {
            color: rgba(128, 128, 128, 0.71);
        }

        span {
            font-size: small;
            font-weight: 500;
            cursor: pointer;

            &:hover {
                border-bottom: 1px solid black;
            }
        }
    }

    .guideUpdate_b_first {
        display: flex;
        margin-top: 20px;
        margin-bottom: 5px;
        color: grey;

        span {
            font-size: small;
            font-weight: 400;
        }
    }

    .thirdContext_b_first {
        display: flex;
        flex-direction: column;

        h1 {
            font-size: 47px;
            font-weight: bolder;
            line-height: 1.2;
        }

        .guideAuthor_b_first {
            display: flex;
            flex-direction: row;
            height: 40px;
            width: 200px;
            /* border: 1px solid black; */
            align-items: center;
            margin-top: 20px;
            margin-bottom: 20px;

            .authorImage_b_first {
                height: 100%;
                width: 40px;
                display: flex;
                border: 2px solid white;
                border-radius: 50%;
                box-shadow: 1px 2px 3px 4px rgba(20, 20, 20, 0.063);
                align-items: center;
                justify-content: center;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }

            .authorName_b_first {
                display: flex;
                margin-left: 20px;

                span {
                    font-size: medium;
                    font-weight: 500;
                }
            }
        }

        .guideDesc_b_first {
            display: flex;
            letter-spacing: 1;

            p {
                font-size: large;
                font-weight: 400;

                span {
                    font-weight: 600;
                    cursor: pointer;
                }
            }
        }

        .thirdImage_b_first {
            height: auto;
            width: 750px;
            margin-top: 10px;
            margin-bottom: 10px;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        p {
            font-weight: 350;
            margin-bottom: 10px;
        }
    }
}