.guideline {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1720px;

    h2 {
        font-weight: 500;
        margin-top: 10px;
    }

    p {
        font-size: medium;
        font-weight: 450;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    li {
        font-size: medium;
        font-weight: 450;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}