.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    /* border: 1px solid black; */
    /* width: 100%; */
    margin: 40px 40px;
    flex-direction: column;
    position: relative;
    cursor: pointer;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        /* border: 1px solid black; */
        border-radius: 30px;
        /* margin-left: 10px; */
        position: relative;
        display: block;
        z-index: -1;
    }

    .text {
        left: 50%;
        .heading {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 40%;
            z-index: 1;
            transform: translate(-50%,-50%);
            color: white;
            width: 268px;
            height: 100px;
            /* border: 1px solid black; */
            word-spacing: 1;
            word-wrap: normal;

            h1 {
                margin: 0;
                font-size: xx-large;
                font-weight: bolder;
            }
        }

        .para {
                position: absolute;
                display: inline-block;
                top: 60%;
                left: 52%;
                z-index: 1;
                color: white;
                transform: translate(-50%,-50%);
                height: 20px;
                width: 320px;
                /* border: 1px solid black; */

                p {
                    font-weight: bolder;
                }
            
        }
    }

    .icon {
        position: absolute;
        bottom: 30px;
        right: 40px;
        display: inline-block;
        color: rgba(255, 37, 37, 0.797);
        font-size: xx-large;
        font-weight: bolder;
    }
}