.headerOption {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid black; */
    /* margin-left: 2px; */
    cursor: pointer;
}

.headerOption_title {
    font-weight: 400;
    font-size: 14px;
}

.headerOption_icon {
    object-fit: contain;
    height: 35px !important;
    width: 166px !important;
    transition: transform 0.3s ease-in-out;
    padding-left: 0 !important;

    &:hover {
        transform: scale(1.1);
    }
}