.about_container {
    display: flex;
    flex-direction: row;

    .left {
        width: 230px;
        height: 250px;
        /* border: 1px solid black; */
        cursor: pointer;

        span {
            font-weight: 400;
            margin-bottom: 5px;
        }

        .selected {
            font-weight: bold;
        }
    }

    .right {
        display: flex;
        flex-direction: column;
        width: 47%;
        /* border: 1px solid black; */
    }

    
}